body {
    font-family: 'Orbitron', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.navbar {
    margin-bottom: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 10; /* Certifica-se de que o menu está acima do conteúdo */
    position: relative;
}

.banner {
    background: url('./imagens/fundo2.png') no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1;
}
.scrolling-wrapper {
    display: flex; /* Ativa o layout flexbox */
    overflow-x: auto; /* Habilita o scroll horizontal */
    gap: 20px; /* Espaçamento entre os cartões */
    padding: 20px 0; /* Espaçamento superior e inferior */
    scrollbar-width: none; /* Remove a barra de rolagem no Firefox */
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none; /* Remove a barra de rolagem no Chrome/Safari */
}

.card {
    flex: 0 0 16%; /* Cada filme ocupa 16% da largura do contêiner */
    max-width: 200px; /* Define o tamanho máximo dos cartões */
    background-color: #1c1c1c;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
    color: #ffffff;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
    color: #e50914;
    text-align: center;
}

.card-text {
    font-size: 0.9rem;
    color: #cccccc;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.banner h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.search-bar {
    width: 80%;
    max-width: 600px;
}

.search-bar form {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
}

.search-bar form:hover {
    background: rgba(0, 0, 0, 0.9);
}

.search-bar input {
    flex: 1;
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 1rem;
    color: #ffffff;
    background: transparent;
}

.search-bar input::placeholder {
    color: #cccccc;
    font-style: italic;
}

.search-bar input:focus {
    outline: none;
    box-shadow: 0 0 5px #e50914;
    border: 1px solid #e50914;
}

.search-bar button {
    border: none;
    border-radius: 50px;
    background-color: #e50914;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #f61c24;
}

/* Botão de notificações com animação */
.button2 {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: none;
}

.bell {
    width: 18px;
}

.bell path {
    fill: white;
}

.button2:hover {
    background-color: rgb(56, 56, 56);
}

.button2:hover .bell {
    animation: bellRing 0.9s both;
}

@keyframes bellRing {
    0%,
    100% {
        transform-origin: top;
    }
    15% {
        transform: rotateZ(10deg);
    }
    30% {
        transform: rotateZ(-10deg);
    }
    45% {
        transform: rotateZ(5deg);
    }
    60% {
        transform: rotateZ(-5deg);
    }
    75% {
        transform: rotateZ(2deg);
    }
}

.button2:active {
    transform: scale(0.8);
}

/* Menu de configurações */
.config-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1c1c1c;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 12;
    position: relative;
}

.config-button:hover {
    background-color: #383838;
    transform: rotate(90deg);
}

.config-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #1c1c1c;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    list-style: none;
    z-index: 13;
}

.user-menu:hover .config-menu {
    display: block; 
}

.config-menu li {
    margin-bottom: 10px;
}

.config-menu li:last-child {
    margin-bottom: 0;
}

.config-link {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.config-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #e50914;
}


